/*custom utility classes  */



/* background colour */

.bg-slate { background-color: #28293E  !important;}
.bg-white { background-color: #FFFFFF !important; }


/* button */
.bg-button{ 
    background-color: #EF6D58  !important;
}
.bg-button:hover { 
    background-color: #EF6D58 !important;
    opacity: 0.8 !important;
}


/* text colour */
.text-red { color: #EF6D58 !important; }
.text-Crimson-Brown { color: #391400  !important; }

.height-100 { height: 50% !important; }

.img{
    height: 500px !important;
    width: 500px !important;
}